{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>
  <head>
    <!--Import JQuery-->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--Import materialize.css-->
    {% if company == JOGA %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize_light-blue.min.css' %}"  media="screen, projection"/>
    {% elif company == LIEFERANTEN %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize_green.min.css' %}"  media="screen, projection"/>
    {% elif company == KUNDEN %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize_red.min.css' %}"  media="screen, projection"/>
    {% else %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize_grey.min.css' %}"  media="screen, projection"/>
    {% endif %}
    
    <!--Import materialize.js-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <!--Import materialize.icons.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.icons.css' %}"/>
    
    <!--Import custom.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}ERP{% endblock %} | {% if company == JOGA %}JOGA{% elif company == LIEFERANTEN %}Lieferant{% elif company == KUNDEN %}Kunde{% else %}ERP{% endif %}</title>
    
    <!-- Head-->
    {% block head %}

    {% endblock %}

  </head>

  <body>

    <!-- Navbar-->
    <div class="navbar-fixed" style="z-index: 9999;">
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="{% url 'home' %}" class="hide-on-med-and-down brand-logo left">{% if company == JOGA %}JOGA{% else %}{{ user.groups.first.name }}{% endif %}</a>
          {% if user.is_authenticated %}
          <ul class="right">
            <li id="currenttime"><i class="material-icons left">today</i>Tag {{day|default_if_none:"-"}}</li>
            {% if perms.gtapp.view_suppcontainer or perms.gtapp.view_custcontainer %}<li><a href="{% url 'box_search_view' %}"><i class="material-icons">qr_code</i></a></li>{% endif %}
            {% if perms.gtapp.view_message %}<li><a href="{% url 'inbox' %}" id="messageicon">{% if has_messages %}<i  class="material-icons messageicon">chat</i>{% else %}<i  class="material-icons">chat_bubble_outline</i>{% endif %}</a></li>{% endif %}
            {% if perms.gtapp.view_task %}<li><a id="notificationicon" href="#" data-target="tasks" class="sidenav-trigger show-on-large" style="margin-left: 0; margin-right: 0;">{% if has_unassigned_tasks %}<i class="material-icons notification">notifications_active</i>{% else %}<i class="material-icons">notifications_none</i>{% endif %}</a></li>
            {% endif %}
          </ul>
          {% else %}
          <ul class="right">
            <li><a href="{% url 'login' %}"><i class="material-icons left">login</i>Einloggen</a></li>
          </ul>
          {% endif %}
        </div>
      </nav>
    </div>


    {% if user.is_authenticated %}
    <!-- Sidenav-->
    <ul class="sidenav sidenav-fixed sidenav-left" id="sidenav" >
      <li class="hide-on-med-and-down" style="height: 64px"></li>
      <li><div class="user-view">
        <div class="background">
          <img style="filter: brightness(50%);" src="{% static 'img/logistics-300px.jpg' %}">
        </div>
        <a {% if debug_flag %} href="{% url 'change_user' 'debug' %}"{% endif %}><img class="grey lighten-2 circle" src="{% static 'img/avataaars.svg' %}"></a>
        <a><span class="white-text name">{{ user.username }}</span></a>
        <a><span class="white-text email">{{ user.groups.first.name }}</span></a>
      </div></li>

      <li><a href="{% url 'home' %}">Startseite</a></li>
      {% if perms.gtapp.view_task %}<li><a href="{% url 'tasks_notassigned' %}">Aufgaben</a></li>{% endif %}
      {% if perms.gtapp.view_message %}<li><a href="{% url 'inbox' %}">Nachrichten</a></li>{% endif %}
      {% if perms.gtapp.view_suppcontainer or perms.gtapp.view_custcontainer %}<li><a href="{% url 'box_search_view' %}">Barcode scannen</a></li>{% endif %}
      <li><div class="divider"></div></li>

      {# SPIELLEITUNG: #}
      {% if request.user.id == 1 %}
        <li><a href="{% url 'dashboard' %}"><i class="material-icons left">dashboard</i>Dashboard der GL</a></li>
        <li><a href="{% url 'controlpanel' %}"><i class="material-icons left">today</i>Spielsteuerung</a></li>
        <li><a href="{% url 'credentials_sheet' %}"><i class="material-icons left">password</i>Zugangsdaten</a></li>
        <li><a href="{% url 'barcode_sheets' %}"><i class="material-icons left">burst_mode</i>Barcodeliste</a></li>
        <li><a href="{% url 'optionsview' %}"><i class="material-icons left">settings</i>Einstellungen</a></li>
      {% endif %}

      {# LEITUNGSTEAM: #}
      {% if LEITUNGSTEAM in group %}
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
      {% endif %}

      {% if perms.gtapp.view_permmanufacturinglist %}<li><a href="{% url 'manufacturing_list' %}">Fertigungsaufträge</a></li> {% endif %}
      {% if KUNDENDIENST in group or KUNDEN in group or LEITUNGSTEAM in group %}
        {% if perms.gtapp.view_custorder %}<li><a href="{% url 'cust_order' %}">{% if company == KUNDEN %}Bestellungen{% else %}Aufträge{% endif %}</a></li>{% endif %}
      {% endif %}
      {% if perms.gtapp.view_custcomplaint %}<li><a href="{% url 'cust_complaint' %}">{% if company == KUNDEN %}Bestellreklamationen{% else %}Auftragsreklamationen{% endif %}</a></li>{% endif %}
      {% if L300 in group or PRODUKTIONSDIENSTLEISTUNG in group %}<li><a href="{% url 'supp_order' %}">{% if company == LIEFERANTEN %}Aufträge{% else %}Bestellungen{% endif %}</a></li>{% endif %}
      {% if perms.gtapp.view_suppcomplaint %}<li><a href="{% url 'supp_complaint' %}">{% if company == LIEFERANTEN %}Auftragsreklamationen{% else %}Bestellreklamationen{% endif %}</a></li>{% endif %}
      {% if perms.gtapp.view_productionsteps %}<li><a href="{% url 'production_steps' %}">Produktionsschritte</a></li> {% endif %}
      {% if perms.gtapp.view_stock %}<li><a href="{% url 'stock' %}">Lager</a></li> {% endif %}
      <!--{% if perms.gtapp.view_permmanufacturinglist %}<li><a href="{% url 'manufacturing_complaints' %}">Reklamationsaufträge</a></li>{% endif %}-->
      <li><div class="divider"></div></li>
      {% if request.user.id != 1 %}<li><a href="{% url 'home_information_pages' info='Rolle' %}">Stellenbeschreibung</a></li>{% endif %}
      <li><a href="{% url 'faq' content=0  %}">FAQ</a></li>
      <li><div class="divider"></div></li>
      {% if SPIELLEITUNG in group %}
        {% if request.user.id != 1 %}
          <li><a href="{% url 'change_user_to' 1 %}"><i class="material-icons left">engineering</i>Spielleitung</a></li>
        {% endif %}
        <li><a href="{% url 'change_user' 'sl' %}"><i class="material-icons left">group</i>Benutzer wechseln</a></li>
      {% endif %}
      <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>Ausloggen</a></li>
      <li class="hide-on-med-and-down" style="height: 128px"></li>
    </ul>
    {% endif %}

    {% if perms.gtapp.view_task %}
    <!-- Tasks-->
    <ul id="tasks" class="sidenav">
      <li class="hide-on-med-and-down" style="height: 64px"></li>
      {#<li><a class="sidenav-close"><i class="material-icons">arrow_back</i>ZURÜCK</a></li>#}
      <li><a href="{% url 'tasks_notassigned' %}">Aufgabenübersicht öffnen</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Meine Aufgaben</a></li>
      <li id="tasks_user">
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Aufgabenpool</a></li>
      <li id="tasks_group">
      </li>
    </ul>
    {% endif %}

    <!-- Content-->
    {% block overwritebody %}
    <main {% if user.is_authenticated %}class="loggedin"{% endif %}>
      <div id="content" class="container">
        {% block content %}
        {% endblock %}
      </div>
      {% if user.is_authenticated %}
        {% block containerless_content %}
        {% endblock%}
      {% endif %}
    </main>
    {% endblock %}

    <!-- Additional Body-->
    {% block body %}

    {% endblock %}

    <!-- Scripts-->
    
    {% if perms.gtapp.view_task %}
      <script>
        $(document).ready(function (){
            var tasks_options = {
            'edge': 'right',
            'onOpenStart': getTasks
          }

          M.Sidenav.init($("#tasks")[0], tasks_options);
        });
      </script>
    {% endif %}
      <script>
        $(document).ready(function(){
          var sidenav_options = { {% if perms.gtapp.view_task %}'onOpenStart': closeRight{% endif %} };
          M.Sidenav.init(document.getElementById('sidenav'), sidenav_options);
          M.Dropdown.init($('.dropdown-trigger'), {'constrainWidth': false});
          $('.collapsible').collapsible();
          $('.materialboxed').materialbox();
        });

        {% if perms.gtapp.view_task %}
        function getTasks(){
          var request = new XMLHttpRequest();
          request.open("GET", "{% url 'api_tasks' %}");

          if (window.innerWidth <= 992) M.Sidenav.getInstance($('#sidenav')).close();
          request.addEventListener('load', function(event) {
            if (request.status >= 200 && request.status < 300) {
              var obj = JSON.parse(request.responseText);
              // Nicht zugewiesen
              var out = '';
              if (obj.tasks_group.length>0){
                for(let i=0; i<obj.tasks_group.length; i++){
                  task = obj.tasks_group[i];
                  out += '<li class="no-padding"><ul class="collapsible collapsible-accordion"><li>\
                    <a class="collapsible-header"><i class="material-icons">expand_more</i>' + task.title + '</a>\
                    <div class="collapsible-body"><ul>\
                        <li><a href="/tasks_detail/' + task.id + '/"><i class="material-icons left">info</i>' + task.ref + '</a></li>\
                        <li><a href="/tasks_assign/' + task.id + '/"><i class="material-icons left">launch</i>Mir zuweisen</a></li>\
                        <li><a href="/tasks_detail/' + task.id + '/"><i class="material-icons left">subject</i>Detailseite aufrufen</a></li>\
                      </ul></div>\
                  </li></ul></li>';
                }
                $('#tasks_group')[0].innerHTML = out;
              } else {
                $('#tasks_group')[0].innerHTML = '<li><a><i class="material-icons left">done_all</i>Keine</a></li>';
              }
              // Mir zugewiesen
              out = '';
              if (obj.tasks_user.length>0){
                for(let i=0; i<obj.tasks_user.length; i++){
                  task = obj.tasks_user[i];
                  out += '<li class="no-padding"><ul class="collapsible collapsible-accordion"><li>\
                    <a class="collapsible-header"><i class="material-icons">expand_more</i>' + task.title + '</a>\
                    <div class="collapsible-body"><ul>\
                        <li><a href="/tasks_edit/' + task.id + '/"><i class="material-icons left">open_in_browser</i>' + task.ref + '</a></li>\
                        <li><a href="/tasks_finish/' + task.id + '/"><i class="material-icons left">done</i>Fertig</a></li>\
                        <li><a href="/tasks_detail/' + task.id + '/"><i class="material-icons left">subject</i>Detailseite aufrufen</a></li>\
                      </ul></div>\
                  </li></ul></li>';
                }
                $('#tasks_user')[0].innerHTML = out;
              } else {
                $('#tasks_user')[0].innerHTML = '<li><a><i class="material-icons left">done_all</i>Keine</a></li>';
              }
              $('.collapsible').collapsible();
            } else {
              console.warn(request.statusText, request.responseText);
            }
          });
          request.send();
        }

        function closeRight(){
          M.Sidenav.getInstance($('#tasks')).close();
        }
        {% endif %}
            
    </script>
    <script>
      $(document).ready(function(){
        setInterval(getStatus, 5000);
      });

      {# Sofort Status ziehen, wenn die Seite wieder sichtbar wird #}
      document.addEventListener("visibilitychange", getStatus);

      function getStatus(){
        {# keinen Status ziehen, wenn die Seite nicht sichtbar ist #}
        if (document.visibilityState == "hidden") return;

        var request = new XMLHttpRequest();
        request.open("GET", "{% url 'api_status' %}");
        request.addEventListener('load', function(event) {
          if (request.status >= 200 && request.status < 300) {
            var obj = JSON.parse(request.responseText);
            $('#currenttime')[0].innerHTML = '<i class="material-icons left">today</i>Tag ' + obj['time'];

            {% if perms.gtapp.view_task %}
              if (obj['has_unassigned']) $("#notificationicon")[0].innerHTML='<i class="material-icons notification">notifications_active</i>';
              else $("#notificationicon")[0].innerHTML='<i class="material-icons">notifications_none</i>';
            {% endif %}
            {% if perms.gtapp.view_message %}
              if (obj['has_messages']) $("#messageicon")[0].innerHTML='<i class="material-icons messageicon">chat</i>';
              else $("#messageicon")[0].innerHTML='<i class="material-icons">chat_bubble_outline</i>';
            {% endif %}

          } else {
            console.warn(request.statusText, request.responseText);
          }
        });
        request.send();
      }
      
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>