{% extends "forms.html" %}
{% load materializecss %}

<!-- Title-->
{% block title %}Spielsteuerung{% endblock %}

<!-- Header-->
{% block head %}
<style>
    .help-block {
        margin:0px;
    }
</style>
{% endblock %}

<!-- Content-->
{% block content %}
    {% csrf_token %}
    <div class="row section">
        <div class="col s12">
            <a class="btn-flat" href="{% url 'home' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
            <h4>Spielsteuerung</h4>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p>{% if timeactive %}Gerade läuft die Zeit.{% else %}Gerade ist die Zeit angehalten.{% endif %}</p>
                    <br />
                    <a href="{% url 'timetoggle' %}" class="waves-effect waves-light btn"><i class="material-icons left">today</i>{% if timeactive %}Zeit anhalten{% else %}Zeit starten{% endif %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

{% endblock %}