{% extends "forms.html" %}
{% load materializecss %}

<!-- Header-->
{% block head %}
<style>
    .help-block {
        margin:0px;
    }
</style>
{% endblock %}

<!-- Content-->
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row section">
        <div class="col s12">
            <h4>Auftrag erstellen</h4>
        </div>
    {% if title == "Auftrag ändern" %}
    </div>
    <div class="row section">
        <div class="col s12">
            <h5>Kopf</h5>
        </div>
    {% endif %}

        {% for field in form.visible_fields %}
        <div class="col s12 m12 l6" style="padding: 0">
            {{ field|materializecss }}
        </div>
        {% endfor %}

        {% for field in form.hidden_fields %}
        <div class="col s12 m12 l6">
            {{ field }}
        </div>
        {% endfor %}
    </div>
    {% if title == "Auftrag ändern" %}
    
    <div class="row section">
        <div class="col s12">
            <h5>Positionen</h5>
            <table id="itemtable">
                <thead id="itemhead">
                    <tr>
                        <th>Position</th>
                        <th>Artikel</th>
                        <th>Preis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="itembody">
                    {% for i in items %}
                    <tr>
                        <td>{{ i.pos }}</td>
                        <td>{{ i.article.description }}</td>
                        <td>{{ i.unit_price }}</td>
                        <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='i{{i.id}}'><i
                            class="material-icons">more_vert</i></a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4"><a href="{% url 'cust_order_det_create' cust_order_no %}" style="display: inline-block; height: 100%; width: 100%; padding: 10px 0;" class="black-text"><i class="material-icons left">add</i>POSITION HINZUFÜGEN</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    
    <div class="row section">
        <div class="col s12 right-align">
            <button class="btn waves-effect waves-light right-align" type="submit" name="action"><i class="material-icons left">send</i>Speichern</button>
        </div>
    </div>
</form>

{% endblock %}

<!-- Body-->
{% block body %}
{% for i in items %}
<ul id='i{{i.id}}' class='dropdown-content'>
    <li><a href="{% url 'cust_order_det_alter' i.id %}"><i class="material-icons">create</i>Bearbeiten</a></li>
    <li><a href="{% url 'cust_order_det_delete' i.id %}"><i class="material-icons">delete</i>Löschen</a></li>
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

{% endblock %}