{% extends "base.html" %}
{% load custom_tags %}

<!-- Title-->
{% block title %}{% if company == KUNDEN %}Bestellreklamationen{% else %}Auftragsreklamationen{% endif %}{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>{% if company == KUNDEN %}Bestellreklamationen{% else %}Auftragsreklamationen{% endif %} <a href="{% url 'cust_complaint_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a></h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th>Reklamationsnummer</th>
                            {% if company != KUNDEN %}<th>Kunde</th>{% endif %}
                            <th>Beschreibung</th>
                            <th>Status</th>
                            <th>Abgeschlossen am</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle complaints durchlaufen und in ABhängigkeit des eingeloggten Benutzers anzeigen-->
                        {% for c in complaints %}
                            <tr>
                                <td>{{ c.order_no }}</td>
                                {% if company != KUNDEN %} <td>{{c.cust_order.customer}}</td>{% endif %}
                                <td>{{ c.memo }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="determinate" style="width: {{ c.status|multiply:100|divide:status_count }}%"></div>
                                    </div>
                                    {{ c.get_status_display }} 
                                </td>
                                <td>Tag {{ c.finished_on|default_if_none:"-" }}</td>
                                <td><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{c.id}}'><i
                                            class="material-icons">more_vert</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for c in complaints %}
<ul id='a{{c.id}}' class='dropdown-content'>
    <li><a href="{% url 'cust_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
    {% if c.status == STATUS.ERFASST %}
    <li><a href="{% url 'cust_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
    {% endif %}
</ul>


{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}