{% extends "forms.html" %}
{% load materializecss %}
{% load custom_tags %}

<!-- Title-->
{% block title %}{% if company == KUNDEN %}Bestellreklamation{% else %}Auftragsreklamation{% endif %} {% if action == 'create' %}erstellen{% else %}ändern{% endif %}{% endblock %}

<!-- Header-->
{% block head %}
<style>
    .help-block {
        margin:0px;
    }
</style>
{% endblock %}

<!-- Content-->
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="row section">
        <div class="col s12">
            <a class="btn-flat" href="{% url 'cust_complaint' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
            <h4>{% if company == KUNDEN %}Bestellreklamation{% else %}Auftragsreklamation{% endif %} {% if action == 'create' %}erstellen{% else %}ändern{% endif %}</h4>
        </div>
    {% if action == "alter" %}
        <div class="col s12">
            <h5>Kopf</h5>
        </div>
    {% endif %}

    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin-bottom: 0px;">
                    {% for field in form.visible_fields %}
                        {% if forloop.counter0|divisibleby:2 %}
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                        {% endif %}
                <div class="col s12 m12 l6" style="padding: 0">
                    {{ field|materializecss }}
                </div>
                {% endfor %}
                </div>

                {% for field in form.hidden_fields %}
                <div class="col s12 m12 l6">
                    {{ field }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
    {% if action == "alter" %}
    <div class="row section">
        <div class="col s12">
            <h5>Positionen</h5>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <table id="itemtable">
                        <thead id="itemhead">
                            <tr>
                                <th>Position</th>
                                <th>Reklamierte Artikel</th>
                                <th>Beschreibung</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itembody">
                            {% for i in items %}
                            <tr>
                                <td>{{ i.pos }}</td>
                                <td>{{ i.cust_order_det.article }}</td>
                                <td>{{ i.memo }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="determinate" style="width: {{ i.status|multiply:100|divide:status_count }}%"></div>
                                    </div>
                                    {{ i.get_status_display }} 
                                </td>
                                <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='i{{i.id}}'><i
                                    class="material-icons">more_vert</i></a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4"><a href="{% url 'cust_complaint_det_create' cust_complaint_no %}" style="display: inline-block; height: 100%; width: 100%; padding: 10px 0;" class="black-text"><i class="material-icons left">add</i>POSITION HINZUFÜGEN</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="row section">
        <div class="col s12 right-align">
            <!--                                                                    BUTTON UNTEN CONTENT-->
            {% if KUNDEN in group %}
                {% if OBJ_STATUS <= STATUS.IN_REKLAMATION %}
                    {% if action != 'create' %}
                        {% if  request.user|has_group:K1 %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_task' object.pk 24%}"><i class="material-icons left">done_all</i>Freigeben</a>
                        {% elif request.user|has_group:K2 %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_task' object.pk 25%}"><i class="material-icons left">done_all</i>Freigeben</a>
                        {% elif request.user|has_group:K3 %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_task' object.pk 26%}"><i class="material-icons left">done_all</i>Freigeben</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% elif KUNDENDIENST in group %}
                {% if OBJ_STATUS <= STATUS.IN_REKLAMATION %}
                    {% if action != 'create' %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_task' object.pk 27%}"><i class="material-icons left">done_all</i>Freigeben</a>
                    {% endif %}
                {% endif %}
            {% elif PRODUKTION in group %}
                {% if OBJ_STATUS == STATUS.IN_ANPASSUNG %}
                    {% if fix_done %}
                        <!--#LUXI#     Status (Kopf) auf 5 && Task 'Hubwagen an KD liefern'  -->
                        <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">build</i>Anpassung abschließen</button>
                    {% endif %}
                {% elif OBJ_STATUS == STATUS.ANPASSUNG_ABGESCHLOSSEN %}
                    <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">local_shipping</i>Reklamation versandfertig</button>
                {% endif %}
            {% endif %}
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">save</i>{% if action == 'create' %}Erstellen{% else %}Speichern{% endif %}</button>                    
        </div>
    </div>
</form>
{% endblock %}


<!-- Body Status: -->
<!-- Status: STATUS.GELIEFERT-->
<!-- Gruppe: KUNDEN in group-->
{% block body %}
{% for i in items %}
<!--                                                                    DROPDOWN CONTENT-->
<ul id='i{{i.id}}' class='dropdown-content'>
    {% if KUNDEN in group %}
        {% if i.status <= POS_STATUS.ERFASST %}
            <li><a href="{% url 'cust_complaint_det_alter' i.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
            <li><a href="{% url 'cust_complaint_det_delete' i.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% elif i.status <= POS_STATUS.IN_REKLAMATION %}
            <!--Mit Phillipp klären  Status ändert sich nicht-->
            <li><a href="{% url 'box_assign' i|to_class_name i.id%}" class="li-content"><i class="material-icons">local_shipping</i>An JOGA schicken</a></li>
        {% elif i.status == POS_STATUS.GELIEFERT %}
            <li><a href=""class="li-content"><i class="material-icons left">check</i>Ware in Ordnung</a></li>
        {% endif %}
    {% elif KUNDENDIENST in group %}
        {% if i.status <= POS_STATUS.ERFASST %}
            <li><a href="{% url 'cust_complaint_det_alter' i.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
            <li><a href="{% url 'cust_complaint_det_delete' i.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% elif i.status == POS_STATUS.REKLAMATION_FREIGEGEBEN %}
            <!--Mit Phillipp klären  Status ändert sich nicht-->
            <li><a href="{% url 'box_assign' i|to_class_name i.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Produktion schicken</a></li>
        {% elif i.status == POS_STATUS.BEI_KUNDENDIENST %}
            <li><a href="{% url 'box_assign' i|to_class_name i.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Kunden liefern</a></li>
            <li><a href="{% url 'set_status_call' i|to_class_name i.id POS_STATUS.GELIEFERT %}" class="li-content"><i class="material-icons">done_all</i>Abschließen</a></li>
        {% endif %}
    {% elif PRODUKTION in group %}
        {% if i.status == POS_STATUS.IN_ANPASSUNG %}
            <li><a href="{% url 'set_status_task' object.pk 29%}" class="li-content"><i class="material-icons">build</i>Anpassung abschließen</a></li>
        {% elif i.status == POS_STATUS.ANPASSUNG_ABGESCHLOSSEN %}
            <li><a href="{% url 'box_assign' i|to_class_name i.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Kundendienst liefern</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% endblock %}