{% extends "forms.html" %}
{% load materializecss %}
{% load custom_tags %}

<!-- Title-->
{% block title %}
Position 
{% if action == 'create' %}
    erstellen
{% else %}
    ändern
{% endif %}
{% endblock %}

<!-- Header-->
{% block head %}
<style>
    .help-block {
        margin:0px;
    }
</style>
{% endblock %}

<!-- Content-->
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row section">
        <div class="col s12">
            <a class="btn-flat" onclick="history.back();" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
            <h4>
                Position 
                {% if action == 'create' %}
                    erstellen
                {% else %}
                    ändern
                {% endif %}
            </h4>
        </div>
    </div>
    <div class="row section">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row" style="margin-bottom: 0px;">
                    {% for field in form.visible_fields %}
                        {% if forloop.counter0|divisibleby:2 %}
                            </div>
                            <div class="row" style="margin-bottom: 0px;">
                        {% endif %}
                        <div class="col s12 m12 l6" style="padding: 0">
                            {{ field|materializecss }}
                        </div>
                    {% endfor %}
                    </div>

                    {% for field in form.hidden_fields %}
                    <div class="col s12 m12 l6">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>    
    </div>
    
    <div class="row section">
        <div class="col s12 right-align">
            {% if action != 'create' %}
                {% if KUNDEN in group %}
                    {% if object.status == STATUS.ERFASST %}            
                            <a class="btn waves-effect waves-light" href="{% url 'cust_order_det_delete' object.id %}"><i class="material-icons left">delete</i>Löschen</a>
                    {% endif %}
                    {% if object.status == STATUS.BESTANDSPRUEFUNG_AUSSTEHEND %}
                        <a class="btn waves-effect waves-light" href="{% url 'cust_order_det_cancel' object.id %}"><i class="material-icons left">block</i>Stornieren</a>
                    {% endif %}
                    {% if object.status == STATUS.GELIEFERT %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_call' object|to_class_name object.id STATUS.ABGENOMMEN %}"><i class="material-icons left">check</i>Abnehmen</a>
                    {% endif %}
                {% elif KUNDENDIENST in group %}
                    {% if object.status == STATUS.LIEFERUNG_AN_K_AUSSTEHEND %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_call' object|to_class_name object.id STATUS.VERSANDT_AN_K %}"><i class="material-icons left">local_shipping</i>An Kunden liefern</a>
                    {% endif %}
                    {% if object.status == STATUS.VERSANDT_AN_K %}
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_call' object|to_class_name object.id STATUS.ABGENOMMEN %}"><i class="material-icons left">check</i>Vom Kunden abgenommen</a>
                    {% endif %}
                    {% if object.status == STATUS.ERFASST %}
                        <a class="btn waves-effect waves-light" href="{% url 'cust_order_det_delete' object.id %}"><i class="material-icons left">delete</i>Löschen</a>
                    {% endif %}
                    {% if object.status == STATUS.BESTANDSPRUEFUNG_AUSSTEHEND %}
                        <a class="btn waves-effect waves-light" href="{% url 'cust_order_det_cancel' object.id %}"><i class="material-icons left">block</i>Stornieren</a>
                    {% endif %}
                {% elif PRODUKTION in group %}
                    {%if object.status == STATUS.LIEFERUNG_AN_KD_AUSSTEHEND %}
                        <a class="btn waves-effect waves-light" href="{% url 'box_assign' object|to_class_name object.id%}"><i class="material-icons left">local_shipping</i>An Kundendienst liefern</a>
                    {% endif %}
                    {% if object.status == STATUS.IN_PRODUKTION %}
                        <a class="btn waves-effect waves-light" href="{% url 'production_steps_single' object.article.description 1 %}" class="li-content"><i class="material-icons left">import_contacts</i>Montageanleitung</a></li>
                        <a class="btn waves-effect waves-light" href="{% url 'set_status_task' object.id 7 %}" class="li-content"><i class="material-icons left">done</i>Fertig melden</a></li>
                    {% endif %}
                {% elif PRODUKTIONSDIENSTLEISTUNG in group %}
                        {% if object.status == STATUS.BESTANDSPRUEFUNG_AUSSTEHEND %}
                            <a class="btn waves-effect waves-light" href="{% url 'stock_check' object.id %}" class="li-content"><i class="material-icons left">flag</i>Bestandsprüfung</a></li>
                        {% endif %}
                        {% if object.status == STATUS.BESTANDSPRUEFUNG_ABGESCHLOSSEN %}
                            <a class="btn waves-effect waves-light" href="{% url 'box_assign' object|to_class_name object.id %}" class="li-content"><i class="material-icons left">flag</i>Waren an Produktion senden</a></li>
                        {% endif %}
                {% endif %}
            {% endif %}
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">save</i>Speichern</button>
        </div>
    </div>
</form>

{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
    $('form').on('submit', function() {
      $('input, select').prop('disabled', false);
      //$('input, text').prop('disabled', false);
  });
</script>

{% endblock %}