{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

<!--Head-->
{% block head %}
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

<!-- Content-->
{% block containerless_content %}

<div class="row">
    <div class="col s12 m6 xl3">
        <h6 class="header">Aufträge nach Status</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_001" width="100%" height="70%"></canvas>
            </div>
            </div>
            <div class="card-action">
              <a href="{% url 'manufacturing_list' %}">Übersicht <br>Aufträge</a>
            </div>
          </div>
        </div>
    </div>

    <div class="col s12 m6 xl3">
        <h6 class="header">Auftragsreklamationen nach Status</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_002" width="100%" height="70%"></canvas>
            </div>
            </div>
            <div class="card-action">
              <a href="{% url 'cust_complaint' %}">Übersicht <br>Auftragsreklamationen</a>
            </div>
          </div>
        </div>
    </div>

    <div class="col s12 m6 xl3">
        <h6 class="header">Bestellungen nach Status</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_003" width="100%" height="70%"></canvas>
            </div>
            </div>
            <div class="card-action">
              <a href="{% url 'supp_order' %}">Übersicht <br>Bestellungen</a>
            </div>
          </div>
        </div>    
    </div>

    <div class="col s12 m6 xl3">
        <h6 class="header">Bestellreklamationen nach Status</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_004" width="100%" height="70%"></canvas>
            </div>
            </div>
            <div class="card-action">
              <a href="{% url 'supp_complaint' %}">Übersicht <br>Bestellreklamationen</a>
            </div>
          </div>
        </div>    
    </div>

    <div class="col s12 m6">
        <h6 class="header">Aufträge und Reklamationen</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_005" width="100%" height="70%"></canvas>
            </div>
            </div>
            <div class="card-action">
                <a href="{% url 'manufacturing_list' %}">Übersicht Aufträge</a>
                <a href="{% url 'cust_complaint' %}">Übersicht Auftragsreklamationen</a>
            </div>
          </div>
        </div>    
    </div>

    <div class="col s12 m6">
        <h6 class="header">Bestellungen und Reklamationen</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_006" width="100%" height="70%"></canvas>
            </div>
            </div>
            <div class="card-action">
                <a href="{% url 'supp_order' %}">Übersicht Bestellungen</a>
                <a href="{% url 'supp_complaint' %}">Übersicht Bestellreklamationen</a>
            </div>
          </div>
        </div>    
    </div>

    <div class="col s12">
        <h6 class="header">Zeitlicher Überblick</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
            <div>
                <canvas id="chart_007" width="100%" height="40%"></canvas>
            </div>
            </div>
            <div class="card-action">
              <a href="#"></a>
            </div>
          </div>
        </div>    
    </div>

    <div class="col s12">
        <h6 class="header">Offene Aufträge</h6>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
                <div class="table-scrollable">
                    <table id="itemtable">
                        <thead id="itemhead">
                            <tr>
                                <th>Tag(e) bis Lieferdatum</th>
                                <th>Auftragsnummer</th>
                                <th>Referenz</th>
                                <th>Kunde</th>
                                <th>Lieferdatum</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itembody">
                            <!-- Alle complaints durchlaufen und in ABhängigkeit des eingeloggten Benutzers anzeigen-->
                            {% for i in data_008 %}
                                <tr>
                                    <td><div style="color: {{ i.data_set_color }}; font-weight: {{i.data_set_font_weight}};">{{ i.days_until_delivery }} Tag(e)</div></td>
                                    <td>{{ i.cust_order.order_no }}</td>
                                    <td>{{ i.cust_order.ref_no }}</td>
                                    <td>{{i.cust_order.customer}}</td>
                                    <td>Tag {{ i.cust_order.delivery_date|default_if_none:"-" }}</td>
                                    <td>                                    
                                        <div class="progress">
                                        <div class="determinate" style="width: {{ i.cust_order.get_status_progress }};"></div>
                                        </div>
                                        {{ i.cust_order.get_status_display }} 
                                    </td>
                                    <td><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{i.cust_order.id}}'><i
                                                class="material-icons">more_vert</i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-action">
              <a href="#"></a>
            </div>
          </div>
        </div>    
    </div>

</div>
{% endblock %}

<!-- Body-->
{% block body %}
    {% for i in data_008 %}
        <ul id='a{{i.cust_order.id}}' class='dropdown-content'>
                <li><a href="{% url 'cust_order_alter' i.cust_order.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        </ul>
    {% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function (){

        //Chart 001
        var ctx_001 = document.getElementById('chart_001').getContext('2d');
        var chart_001 = new Chart(ctx_001, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: {{labels_001|safe}},
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: [
                        '#EFFAFF',
                        '#D6F1FF',
                        '#ADE4FF',
                        '#85D6FF',
                        '#5CC9FF',
                        '#1FB4FF',
                        '#00A3F5',
                        '#0096E0',
                        '#007AB8',
                        '#47C2FF',
                        '#004466',
                        '#000000',
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_001|safe}},
                    hoverBorderColor: '#b3b3b3',
                }]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
            }
        });

        //Chart 002
        var ctx_002 = document.getElementById('chart_002').getContext('2d');
        var chart_002 = new Chart(ctx_002, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: {{labels_002|safe}},
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: [
                        '#EFFAFF',
                        '#C2EBFF',
                        '#99DDFF',
                        '#5CC9FF',
                        '#1FB4FF',
                        '#00A3F5',
                        '#0088CC',
                        '#006DA3',
                        '#004466',
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_002|safe}},
                    hoverBorderColor: '#b3b3b3',
                }]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
            }
        });

        //Chart 003
        var ctx_003 = document.getElementById('chart_003').getContext('2d');
        var chart_003 = new Chart(ctx_003, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: {{labels_003|safe}},
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: [
                        '#EFFAFF',
                        '#99DDFF',
                        '#1FB4FF',
                        '#0088CC',
                        '#004466',
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_003|safe}},
                    hoverBorderColor: '#b3b3b3',
                }]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
            }
        });

        //Chart 004
        var ctx_004 = document.getElementById('chart_004').getContext('2d');
        var chart_004 = new Chart(ctx_004, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: {{labels_004|safe}},
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: [
                        '#EFFAFF',
                        '#C2EBFF',
                        '#99DDFF',
                        '#5CC9FF',
                        '#1FB4FF',
                        '#00A3F5',
                        '#0088CC',
                        '#006DA3',
                        '#004466',
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_004|safe}},
                    hoverBorderColor: '#b3b3b3',
                }]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
            }
        });


        //Chart 005
        var ctx_005 = document.getElementById('chart_005').getContext('2d');
        var chart_005 = new Chart(ctx_005, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{labels_005|safe}},
                datasets: [{
                    label: 'Aufträge',
                    backgroundColor: [
                        '#4CAF50',
                        '#4CAF50',
                        '#4CAF50',
                        
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_005_1|safe}},
                    hoverBorderColor: '#b3b3b3',
                },
                {
                    label: 'Auftragsreklamationen',
                    backgroundColor: [
                        '#F44336',
                        '#F44336',
                        '#F44336',
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_005_2|safe}},
                    hoverBorderColor: '#b3b3b3',
                }
            
            ]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
            }
        });


        //Chart 006
        var ctx_006 = document.getElementById('chart_006').getContext('2d');
        var chart_006 = new Chart(ctx_006, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{labels_006|safe}},
                datasets: [{
                    label: 'Aufträge',
                    backgroundColor: [
                        '#4CAF50',
                        '#4CAF50',
                        '#4CAF50',
                        
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_006_1|safe}},
                    hoverBorderColor: '#b3b3b3',
                },
                {
                    label: 'Auftragsreklamationen',
                    backgroundColor: [
                        '#F44336',
                        '#F44336',
                        '#F44336',
                ],
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_006_2|safe}},
                    hoverBorderColor: '#b3b3b3',
                }
            
            ]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
            }
        });

        //Chart 007
        var ctx_007 = document.getElementById('chart_007').getContext('2d');
        var chart_007 = new Chart(ctx_007, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: {{labels_007|safe}},
                datasets: [{
                    label: 'Aufträge',
                    backgroundColor: '#4CAF50',
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_007_1|safe}},
                    hoverBorderColor: '#4CAF50',
                },
                {
                    label: 'Auftragsreklamationen',
                    backgroundColor: '#bddbba',
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_007_2|safe}},
                    hoverBorderColor: '#bddbba',
                },
                {
                    label: 'Bestellungen',
                    backgroundColor: '#F44336',
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_007_3|safe}},
                    hoverBorderColor: '#F44336',
                },
                {
                    label: 'Bestellreklamationen',
                    backgroundColor: '#febcaf',
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_007_4|safe}},
                    hoverBorderColor: '#febcaf',
                },
                {
                    label: 'Nachrichten',
                    backgroundColor: '#03A9F4',
                    borderColor: 'rgb(255, 255, 255)',
                    data: {{data_007_5|safe}},
                    hoverBorderColor: '#03A9F4',
                }
            
            ]
            },

            // Configuration options go here
            options: {            
                tooltips: {
                    mode: 'index'
                },
                legend: {
                    "display": false
                },
                responsive: true,
                scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }],
        }
            }
        });

    });
</script>
{% endblock %}