{% extends "base.html" %}

<!-- Title-->
{% block title %}{{ object }} löschen{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>Löschung</h4>
<form method="post">{% csrf_token %}
    <p>Sind Sie sicher, dass Sie "{{ object }}" löschen möchten?</p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Löschen
        <i class="material-icons right">send</i>
      </button>
</form>
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}

{% endblock %}