{% extends "forms.html" %}
{% load materializecss %}

<!-- Title-->
{% block title %}
{% if 'goods_receipt' in request.path %}
  Wareneingang
{% else %}
  Kommissionierliste
{% endif %}
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<div class="row section">
  <div class="col s12">
    <a class="btn-flat" href="{% url 'cust_order' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
    <h4>
    {% if 'goods_receipt' in request.path %}
      Wareneingang
    {% else %}
      Kommissionierliste
    {% endif %}
    </h4>
  </div>
</div>
<form id="form" method="POST">
  {% csrf_token %}
  {{ day_form }}
  {{ formset.management_form }}
  <div class="card">
    <div class="card-content">
      <table id="itemtable">
        <tbody id="itembody">
          {% for form in formset %}
          <div class="col s12 m12 l6" style="padding: 0">
            <tr>
            {% for field in form.visible_fields %}
              {% if 'goods_shipping' in request.path and field.name != 'trash' or 'goods_receipt' in request.path %}
                <td>{{ field|materializecss }}</td>
              {% endif %}
            {% endfor %}
            </tr> 
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden" name="previous" value="{{ request.META.HTTP_REFERER }}">
          </div>
          {% endfor %}
        </tbody>
    </table>
    <div class="right-align">
        <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">local_shipping</i>Kommisionierung abschließen</button>
    </div>
    </div>
  </div>
</form>
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">

  $(document).ready(function () {
      $('input#input_text, textarea#textarea2').characterCounter();
      $('select').formSelect();
  });

  $('form').on('submit', function() {
      $('input, select').prop('disabled', false);
      $('input, text').prop('disabled', false);
  });
</script>
{% endblock %}