{% extends "base.html" %}
{% load static%}

<!-- Title-->
{% block title %}Startseite{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block containerless_content %}



{% if user.is_authenticated %}
<div class="section white">
    <div class="row container">
            <h4 class="header">Willkommen  {% if company == JOGA %}bei der JOGA GmbH
                {% else %}{{ user.groups.first.name }}
                {% endif %} 
            </h4>
    </div>
</div>

<div class="parallax-container" style=" height: 300px;">
    <div class="parallax">
        <video class="backgroundVideo" autoplay muted loop>
            <source src="{% static 'vid/IndustrialFootage.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>

<div class="section white">
    <div class="row container">
        <h4 class="header">Das Unternehmen JOGA</h4>
        <p class="grey-text text-darken-3 lighten-3">
            <div class="col s12"></div>
            <div class="card">
                <div class="card-content">
                    <p><i class="medium material-icons" style="vertical-align: middle">business</i> </p>
                    <font size="+1"> 1952 als Werkstatt von Maschinenbau-Ingenieur Johann Garbade gegründet</font>
                    <br>   </br>

                    <p><i class="medium material-icons" style="vertical-align: middle">person</i></p>
                    <font size="+1"> Familiengeführtes Unternehmen in der vierten Generation</font>
                    <br>   </br>

                    <p><i class="medium material-icons" style="vertical-align: middle">shopping_basket</i></p>
                        <font size="+1"> <p>Das Produktsortiment begann mit Flaschenzügen und Hebezeugen.</p>1990 entstand nach Vergrößerungen des Unternehmens und nach Aktualisierungen der Produktion: die zeitgemäße Hub-technik, der zuverlässige Service, die aktuelle Unternehmensstruktur & ein zweckmäßiges Unternehmensgebäude</font>
                    <br>   </br>

                    <p></p><i class="medium material-icons" style="vertical-align: middle">build</i></p>
                        <font size="+1"> Spezialisierung auf die Konstruktion, die Herstellung und den Vertrieb von Hebegeräten für gewerbliche und industrielle Zwecke</font>
                    <br>   </br>

                    <p><i class="medium material-icons" style="vertical-align: middle">euro_symbol</i></p>
                        <font size="+1"> Umsatz in Höhe von 1,2 Millionen Euro (letzte Aktualisierung: 2020)</font>
                    <br>   </br>

                    <p><i class="medium material-icons" style="vertical-align: middle">widgets</i></p>
                        <font size="+1"> Langjährig erfahrene, belastbare und solidarische Mitarbeiter stärken das Unternehmen</font>
                </div>
            </div>
        </p>
    </div>
</div>
<div class="parallax-container" style=" height: 300px;">
    <div class="parallax"></div>
</div>

<div class="section white">
    <div class="row container">
        <h4 class="header">Die Planspielphasen</h4>
        <p class="grey-text text-darken-3 lighten-3">
            <div class="col s12"></div>
            <div class="card">
                <div class="card-content">
                    <font size="+1"> Das Spiel erfolgt in drei Spielphasen. In jeder Phase erreicht die Durchführung eine weitere Digitalisierungsstufe, welche einen gewissen Grad an digitalisierten Prozessen und Tätigkeiten aufweist.
                    <br> </br>
                    Der Aufbau einer Phase kann der folgenden Grafik entnommen werden:
                    </font>
                    <img src="{% static 'img/Grafik_Homepage_Spielphase.svg' %}" width="100%" height="auto" class="materialboxed white">
                </div>
            </div>
        </p>
    </div>
</div>
{% endif %}

{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.parallax').parallax();
    });
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>


{% endblock %}
