{% extends "base.html" %}
{% load custom_tags %}

<!-- Title-->
{% block title %}Fertigungsaufträge{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>Fertigungsaufträge</h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th>Fertigungsauftrag</th>
                            <th>Artikel</th>
                            <th>Lieferdatum</th>
                            <th>Kommentar</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und in Abhängigkeit des eingeloggten Benutzers anzeigen-->
                        {% for m in manufacturing %}
                            <tr>
                                <td>{{ m.cust_order }}-{{ m.pos }}</td>
                                <td>{{ m.article }} {{ m.get_status_groups }}</td>
                                <td>Tag {{ m.cust_order.delivery_date|default:'-'}}</td>
                                <td>{{ m.memo|default:'-'|truncatechars:15 }}</td>
                                <td>
                                    <div class="progress{% if not m|group_has_work:request.user %} progress-grey{% endif %}">
                                        <div class="determinate" style="width: {{ m.get_status_progress }}"></div>
                                    </div>
                                    {{ m.get_status_display }}
                                </td>
                                <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{m.id}}'><i class="material-icons">more_vert</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for m in manufacturing %}
<ul id='a{{m.id}}' class='dropdown-content'>
    <li><a href="{% url 'cust_order_det_alter' m.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
    {% if PRODUKTIONSDIENSTLEISTUNG in group %}
        {% if m.status == STATUS.BESTANDSPRUEFUNG_AUSSTEHEND %}
            <li><a href="{% url 'stock_check' m.id %}" class="li-content"><i class="material-icons">flag</i>Bestandsprüfung</a></li>
        {% endif %}
        {% if m.status == STATUS.BESTANDSPRUEFUNG_ABGESCHLOSSEN %}
            <li><a href="{% url 'box_assign' m|to_class_name m.id %}" class="li-content"><i class="material-icons">shopping_basket</i>Kommissionieren</a></li>
        {% endif %}
    {% endif %}
    {% if PRODUKTION in group %}
        {% if m.status == STATUS.IN_PRODUKTION %}
            <li><a href="{% url 'production_steps_single' m.article.description 1 %}" class="li-content"><i class="material-icons">import_contacts</i>Montageanleitung</a></li>
            <li><a href="{% url 'set_status_task' m.id 7 %}" class="li-content"><i class="material-icons">done</i>Fertig melden</a></li>
        {% endif %}
        {% if m.status == STATUS.LIEFERUNG_AN_KD_AUSSTEHEND %}
            <li><a href="{% url 'box_assign' m|to_class_name m.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Kundendienst ausliefern</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}