{% extends "base.html" %}
{% load materializecss %}

<!-- Header-->
{% block head %}
{% endblock %}

{% block title %}Nachricht{% endblock %}

<!-- Content-->
{% block content %}
<div class="section">
    {%if title == 'Nachricht' %}
    <div class="row">
        <a class="btn-flat" onclick="history.back();" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
    </div>
    {% endif %}

    <div class="row">
        
        {% block middle %}
        <div class="col s12">
            <h4 class="left">
                Nachricht
            </h4>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content white-text">
                    <form style="padding: 0px" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form.visible_fields %}
                            <div class="col s12">
                                {{ field|materializecss }}
                            </div>
                            {% endfor %}
                        </div>
                        {% for field in form.hidden_fields %}
                        {{ field }}
                        {% endfor %}
                        {% for e in form.non_field_errors %}
                            <div class="chip red lighten-3"><i class="icon material-icons">error</i>{{ e }}</div>
                        {% endfor %}
                        <div class="right-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">send</i>Nachricht senden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if suppcomplaints or supporders or custcomplaints or custorders %}
    <div class="col s12">
        <h4 class="left">Anhängen von Dokumenten</h4>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                {% if supporders.exists %}
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <select id="SuppOrder">
                                <option value="">---------</option>
                                {% for o in supporders %}
                                <option value="{{ o.pk }}">{{ o }}</option>
                                {% endfor %}
                            </select>
                            <label for="SuppOrder">Bestellreklamationen</label>
                        </div>
                        
                    </div>
                    <div class="col s12 m6">
                        <a onclick="getmsgapi('SuppOrder')" class="waves-effect waves-light btn">Bestellung hinzufügen</a>
                    </div>
                </div>
                {% endif %}
                {% if custorders.exists %}
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <select id="CustOrder">
                                <option value="">---------</option>
                                {% for o in custorders %}
                                <option value="{{ o.pk }}">{{ o }}</option>
                                {% endfor %}
                            </select>
                            <label for="CustOrder">Aufträge</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <a onclick="getmsgapi('CustOrder')" class="waves-effect waves-light btn">Bestellung hinzufügen</a>
                    </div>
                </div>
                {% endif %}
                {% if suppcomplaints.exists %}
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <select id="SuppComplaint">
                                <option value="">---------</option>
                                {% for o in suppcomplaints %}
                                <option value="{{ o.pk }}">{{ o }}</option>
                                {% endfor %}
                            </select>
                            <label for="SuppComplaint">Reklamationen</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <a onclick="getmsgapi('SuppComplaint')" class="waves-effect waves-light btn">Bestellung hinzufügen</a>
                    </div>
                </div>
                {% endif %}
                {% if custcomplaints.exists %}
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <select id="CustComplaint">
                                <option value="">---------</option>
                                {% for o in custcomplaints %}
                                <option value="{{ o.pk }}">{{ o }}</option>
                                {% endfor %}
                            </select>
                            <label for="CustComplaint">Bestellungen</label>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <a onclick="getmsgapi('CustComplaint')" class="waves-effect waves-light btn">Bestellung hinzufügen</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script>
    function getmsgapi(i) {
        var id = $("#"+i).val();
        var request = new XMLHttpRequest();
        request.open("GET", "/msg/api/"+ i + "/" + id + "/");
        request.addEventListener('load', function (event) {
            if (request.status >= 200 && request.status < 300) {
                var obj = JSON.parse(request.responseText);
                // Werte setzen
                s = "\nBestellung: " + obj["no"] + "\nFirma: " + obj["partner"] + "\n" + "Bestelltag: " + obj["issued"] + "\n";
                for (i=1;i<=obj["posl"];i++) {
                    s = s + "Position Nr.: " + obj[i]["posno"] + "\n\tPosition: " + obj[i]["particle"];
                    if (i[0] == 'S') {
                        s = s + "\n\tMenge: " + obj[i]["quantity"] + "\n\n";
                    }
                }
                $('#id_text').val($('#id_text').val() + s);
                M.textareaAutoResize($('#id_text'));
                M.updateTextFields()
            } else {
                console.warn(request.statusText, request.responseText);
            }
        });
        request.send();
    }
</script>
<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
{% endblock %}