{% extends "message.html" %}

{% block middle %}

<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5>Von: {{object.sender}} <a href="{% url 'msganswer' mu.pk %}" style="margin-left: 10px;" class="waves-effect waves-light btn"><i class="material-icons left">reply</i>Anworten</a></h5>
            <h5>An: {{object.receiver}}</h5>
            <h5>Betreff: {{object.subject}}</h5>
        </div>
    </div>
</div>
<div class="col s12"><h5>Nachrichtentext</h5></div>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <p style="white-space: pre-wrap;">{{object.text}}</p>
        </div>
    </div>
</div>
{% endblock %}