{% extends "base.html" %}

<!-- Title-->
{% block title %}
Produktionsschritte
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4> Produktionsschritte </h4>

<div class="col s12"></div>
    <div class="card">
        <div class="card-content">
            Wähle das gewünschte Modell des zu bauenden Hubwagens aus:
            <br></br>
            <div class="row">
                <p><div class="grid-example col s12 m6">
                    <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='Mob Standard 150' step=1 %}" class="white-text ">Mob Standard 150 </a> 
                </div></p>
                <br></br>

                <p><div class="grid-example col s12 m6">
                    <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='Mob Standard 200' step=1 %}" class="white-text">Mob Standard 200 </a>
                </div></p>
                <br></br>

                <p><div class="grid-example col s12 m6"> 
                    <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='High Mob 150' step=1 %}" class="white-text">High Mob 150 </a> 
                </div></p>
                <br></br>

                <p><div class="grid-example col s12 m6"> 
                    <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='High Mob 200' step=1 %}" class="white-text">High Mob 200 </a> 
                </div></p>
                <br></br>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}