{% extends "base.html" %}

<!-- Title-->
{% block title %}
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4> Produktionsschritte </h4>

<p> Wähle das gewünschte Modell des zu bauenden Hubwagens aus:</p>

<div class="row">
    <p><div class="grid-example col s12 m6">
        <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='M1' step=1 %}" class="white-text "> M1: Mob Standard 150 </a> 
     </div></p>
    <br></br>

    <p><div class="grid-example col s12 m6">
        <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='M2' step=1 %}" class="white-text"> M2: Mob Standard 200 </a>
    </div></p>
    <br></br>

    <p><div class="grid-example col s12 m6"> 
        <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='M3' step=1 %}" class="white-text"> M3: High Mob 150 </a> 
    </div></p>
    <br></br>

    <p><div class="grid-example col s12 m6"> 
        <a class="waves-effect waves-light btn" style="width: auto;" href="{% url 'production_steps_single' product='M4' step=1 %}" class="white-text"> M4: High Mob 200 </a> 
    </div></p>
    <br></br>
</div>

{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}