{% extends "base.html" %}
{% load static %}

<!-- Title-->
{% block title %}
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<p>   </p>
<a class="btn-flat" href="{% url 'Production_steps' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>

<h4> Produktionschritt {{ step }} von Hubwagen {{ product }} </h4>
<p>   </p>

<p> 
    {% if step == 1 %}
        <a href="/Production_steps_single/{{ product }}/{{ step|add:"-1" }}" class="btn-floating btn waves-effect waves-light disabled"> <i class="material-icons left">chevron_left</i></a>
    {% endif %}
    {% if step != 1 %}
        <a href="/Production_steps_single/{{ product }}/{{ step|add:"-1" }}" class="btn-floating btn waves-effect waves-light"> <i class="material-icons left">chevron_left</i></a>  
    {% endif %}
    {% if step != 8 %}
        <a href="/Production_steps_single/{{ product }}/{{ step|add:"1" }}" class="btn-floating btn waves-effect waves-light"> <i class="material-icons">chevron_right</i></a> 
    {% endif %}
    {% if step == 8 %}
        <a href="/Production_steps_single/{{ product }}/{{ step|add:"1" }}" class="btn-floating btn waves-effect waves-light disabled"> <i class="material-icons">chevron_right</i></a>
    {% endif %}
    <a href="/Production_steps_3D_Models/{{ product }}/{{ step }}" class="waves-effect waves-light btn" style="float: right;"> 3D-Modell</a>
</p>

<!-- Tabellen Kopfzeile -->

<div class="col s12"></div>
                <div class="card">
                    <div class="card-content">
                        <p> <div class="table-scrollable">
                            <table id="itemtable">
                                <thead id="itemhead">
                                    <tr>
                                        <th>Anzahl</th>
                                        <th>Teilenummer</th>
                                        <th>Bezeichnung</th>
                                    </tr>
                                </thead>
                                {% for i in productionsteps_list %}
                                    {% if i.production_step == step %}
                                    {% if i.article_id|stringformat:"s" in product|stringformat:"s" %}
                                    <!-- Tabellenzeilen -->
                                        <tbody id="itembody">
                                        <tr>
                                            <td>{{ i.quantity }}</td>
                                            <td>{{ i.part.part_no}}</td>
                                            <td>{{ i.part.description }}</td>
                                        </tr>
                                        </tbody>
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}

                            </table> 
                        </div></p>
                    </div>
                </div>
            
 <!-- Einbindung Videos über Bauanleitung -->
<div class="col s12"></div>
    <div class="card">
        <div class="card-content">
            {% if step == 1 %}
            <p> <font size="+1"> Diesen Schritt zweimal bauen:</font></p>
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step1.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 2 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step2.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 3 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>  
                    <source src="{% static 'vid/Step3.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 4 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step4.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 5 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step5.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 6 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step6.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 7 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step7.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif step == 8 %}
                <video width="100%" height="auto" frameBorder="0" autoplay loop muted playsinline>
                    <source src="{% static 'vid/Step8.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}