{% extends "base.html" %}

<!-- Title-->
{% block title %}
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4> Produktionsschritte </h4>
<p> Wähle das gewünschte Modell des zu bauenden Hubwagens aus:</p>
<p> <a href="{% url 'M1_production_step_1' %}" class="waves-effect waves-light btn"> Modell M1</a> <a href="{% url 'M2_production_step_1' %}" class="waves-effect waves-light btn"> Modell M2</a> <a href="{% url 'M3_production_step_1' %}" class="waves-effect waves-light btn"> Modell M3</a> <a href="{% url 'M4_production_step_1' %}" class="waves-effect waves-light btn"> Modell M4</a></p>

{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}