{% extends "base.html" %}
{% load static %}

<!-- Title-->
{% block title %}
Produktionsschritte
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<p></p>
<a href="/production_steps_single/{{ product }}/{{ step }}" class="btn-flat" style="margin-left: -16px;"> <i class="material-icons left">arrow_back</i>Zurück</a>

<h4> Produktionschritt {{ step }} von Hubwagen {{ product }} </h4>

   
<p></p>

    <iframe class="z-depth-4" src="/static/iframe/step_{{ step }}.html" 
        title="3D Player" width=100% height=500 frameBorder="0">
        Ihr Browser ist leider nicht kompatibel für diese 3D Darstellung.
    </iframe>
    


{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}