{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
<!-- Title-->
{% block title %}Bestandsprüfung{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<div class="row section">
    <div class="col s12">
        <a class="btn-flat" onclick="history.back();" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
        <h4>Bestandsprüfung für {{ custorderdet.article }}</h4>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="table-scrollable">
            <table id="itemtable">
                <thead id="itemhead">
                    <tr>
                        <th>Teil</th>
                        <th>Grafik</th>
                        <th>Bedarf</th>
                        <th>Bestand</th>
                        <th>Differenz</th>
                        <th>Gesamtbedarf</th>
                        <th>Bestellt</th>
                        {% if not check_successful %}
                            <th>Bestellen</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="itembody">
                    {% for stock, artipart, stockavailable, stockdemand, orderedtotal, demandtotal in stock_artipart_stockavailable_stockdemand_orderedtotal_demandtotal %}
                    <tr>
                        <td>{{stock.part.description}}</td>
                        <td><img src="{% static stock.part.image %}" width="25px" height="auto" class="materialboxed white"></td>
                        <td>{{ artipart.quantity }}</td>
                        <td>{{ stockavailable }}</td>
                        <td>{{ stockdemand }}</td>
                        <td>{{ demandtotal }} </td>
                        <td>{{ orderedtotal }} </td>
                        {% if not check_successful %}
                            <td><input type="text" name="bestellmenge" value={{demandtotal|substract:orderedtotal}}></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row section">
        <div class="col s12 right-align"> 
            {% if PRODUKTIONSDIENSTLEISTUNG in group %}
                {% if check_successful %}
                    <a class="waves-effect waves-light btn" href="{% url 'set_status_call' custorderdet|to_class_name custorderdet.id STATUS.AUFTRAG_FREIGEGEBEN %}"><i class="material-icons left">check</i>Bestandsprüfung abschließen</a>
                {% else %}
                    <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">add_shopping_cart</i>Teile bestellen</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>
{% endblock %}
