{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
<!-- Title-->
{% block title %}Lager{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>Lager</h4>
<div class="card">
    <div class="card-content">
        <div class="table-scrollable">
            <table id="itemtable">
                <thead id="itemhead">
                    <tr>
                        <th>Teil</th>
                        <th>Grafik</th>
                        <th>Bestand</th>
                        {% if company == JOGA %}
                            <th>Reserviert</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="itembody">
                    {% for o in stock %}
                    <tr>
                        <td>{{o.part.description}}</td>
                        <td><img src="{% static o.part.image %}" width="25px" height="auto" class="materialboxed white"></td>
                        {% if o.part.supplier_id == 3 or request.user|has_group:LIEFERANTEN %}
                            <td>{{o.stock}}</td>
                        {% else %}
                            <td>{{o.stock}}</td>
                        {% endif %}
                        {% if company == JOGA %}
                            <td>{% if o.part.supplier_id != 3 %} {{o.reserved}} {% else %}{{o.reserved}}{% endif %}</td>
                        {% endif %}
                        <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='s{{o.id}}'><i class="material-icons">more_vert</i></a></td>
                    </tr>
                    {% endfor %}
                    <input type="hidden" name="previous" value="{{ request.META.HTTP_REFERER }}">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for o in stock %}
<ul id='s{{o.id}}' class='dropdown-content'>
    <li><a href="{% url 'stock_alter' o.id %}" class="li-content"><i class="material-icons left">edit</i>Bestand anpassen</a></li>
    <li><a href="{% url 'stockmovement' o.id %}" class="li-content"><i class="material-icons left">remove_red_eye</i>Lagerbewegungen</a></li>
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}
