{% extends "forms.html" %}
{% load materializecss %}
{% load custom_tags %}
<!-- Title-->
{% block title %}
Lager
{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<div class="row section">
    <div class="col s12">
        <a class="btn-flat" onclick="history.back();" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
        <h4>Bestand anpassen von {{stock.part.description}}</h4>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="card col s12 m6 l12 xl6">
            <div class="card-content">
                <div class="row" style="margin-bottom: 10px;">
                    {% for field in form.visible_fields %}
                        <div class="col s12" style="padding: 0">
                            {{ field|materializecss }}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="previous" value="{{ request.META.HTTP_REFERER }}">
                </div>
                <div class="row section">
                    <div class="col s12 right-align">
                        {% if LIEFERANTEN in group or PRODUKTIONSDIENSTLEISTUNG in group %}
                            <a class="btn waves-effect waves-light" onclick="history.back();"><i class="material-icons left">block</i>Abbrechen</a>
                            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">save</i>Speichern</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

<!-- Body-->
{% block body %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
{% endblock %}
