{% extends "base.html" %}
{% load custom_tags %}

<!-- Title-->
{% block title %}
{% if company == LIEFERANTEN %}
    Kundenaufträge
{% else %}
    Bestellungen
{% endif %}
{% endblock %}

<!-- Header-->
{% block head %}
{% endblock %}

<!-- Content-->
{% block content %}
<h4> 
    {% if company == LIEFERANTEN %}
        Kundenaufträge
    {% else %}
        Bestellungen
    {% endif %}
    <a href="{% url 'supp_order_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a>
</h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th> 
                                {% if company == LIEFERANTEN %} 
                                    Auftragsnummer 
                                {% else %} 
                                    Bestellnummer 
                                {% endif %}
                            </th>
                            <th>
                                {% if company != LIEFERANTEN %}
                                    Lieferant 
                                {% endif %}
                            </th>
                            <th>Einteilungsdatum</th>
                            <th>Lieferdatum</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und anzeigen-->
                        {% for o in orders %}
                            <tr>
                                <td>
                                    {{ o.order_no }}
                                </td>
                                <td>
                                    {% if company != LIEFERANTEN %}
                                        {{o.supplier}}
                                    {% endif %}
                                </td>
                                <td>Tag #{{ o.issued_on }}</td>
                                <td>Tag #{{ o.delivery_date }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="determinate" style="width: {{ o.status|multiply:100|divide:status_count }}%"></div>
                                    </div>
                                    {{ o.get_status_display }} 
                                </td>
                                {% if LIEFERANTEN in group or PRODUKTIONSDIENSTLEISTUNG in group %}
                                    <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{o.id}}'><i class="material-icons">more_vert</i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <input type="hidden" name="previous" value="{{ request.META.HTTP_REFERER }}">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for o in orders %}
<ul id='a{{o.id}}' class='dropdown-content'>
    {% if LIEFERANTEN in group %}
        <li><a href="{% url 'supp_order_alter' o.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if o.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_order_delete' o.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
        <li><a href="{% url 'stock_check' o.id %}" class="li-content"><i class="material-icons">flag</i>Bestandsprüfung</a></li>
        {% if o.status <= STATUS.LIEFERUNG_AN_JOGA_AUSSTEHEND %}
            <li><a href="{% url 'box_assign' o|to_class_name o.id%}" class="li-content"><i class="material-icons">local_shipping</i>Kunde beliefern</a></li>
        {% endif %}
    {% endif %}

    {% if PRODUKTIONSDIENSTLEISTUNG in group %}
        <li><a href="{% url 'supp_order_alter' o.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if o.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_order_delete' o.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
        {% if o.status >= STATUS.BESTELLT or o.status <= STATUS.TEILGELIEFERT %}
            <li><a href="{% url 'box_assign' o|to_class_name o.id%}" class="li-content"><i class="material-icons">local_shipping</i>Boxnr. eintragen</a></li>
            <li><a href="{% url 'goods_receipt' o|to_class_name o.id%}" class="li-content"><i class="material-icons">archive</i>Wareneingang erfassen</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}