{% extends "base.html" %}
{% load custom_tags %}
<!-- Title-->
{% block title %}{% if company == KUNDEN %}Bestellungen{% else %}Kundenaufträge{% endif %}{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>{% if company == LIEFERANTEN %}Auftragsreklamation{% else %}Bestellreklamation{% endif %} <a href="{% url 'supp_complaint_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a></h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th>Reklamationsnummer</th>
                            {% if company != LIEFERANTEN %}<th>Lieferant</th>{% endif %}
                            <th>Kommentar</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und in ABhängigkeit des eingeloggten Benutzers anzeigen-->
                        {% for c in complaints|dictsort:"order_no" %}
                            <tr>
                                <td>{{ c.order_no }}</td>
                                {% if company != LIEFERANTEN %}<td>{{c.supp_order.supplier}}</td>{% endif %}
                                <td>{{ c.memo|default:'-'|truncatechars:30 }}</td>
                                <td>
                                    <div class="progress{% if not c|group_has_work:request.user %} progress-grey{% endif %}">
                                        <div class="determinate" style="width: {{ c.get_status_progress }}"></div>
                                    </div>
                                    {{ c.get_status_display }} 
                                </td>
                                <td><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{c.id}}'><i
                                            class="material-icons">more_vert</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for c in complaints %}
<ul id='a{{c.id}}' class='dropdown-content'>
    {% if PRODUKTION in group %}
            <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if c.status == STATUS.ERFASST %}
            {% if action != 'create' %}
                <li><a href="{% url 'box_assign' c|to_class_name c.id%}" class="li-content"><i class="material-icons">send</i>Weiterleiten an PDL</a>
            {% endif %}
        {% endif %}
        {% if c.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
    {% elif PRODUKTIONSDIENSTLEISTUNG in group %}
            <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if c.status == STATUS.IN_BEARBEITUNG or c.status == STATUS.ERFASST %}
            {% if action != 'create' %}
                <li><a href="{% url 'set_status_task' c.pk 33 %}" class="li-content"><i class="material-icons">done_all</i>Freigeben</a>
            {% endif %}
        {% endif %}
        {% if button_neubestellung %}
            {% if action != 'create' %}
                <li><a href="{% url 'box_assign' c|to_class_name c.id %}" class="li-content"><i class="material-icons">local_shipping</i>Neubestellung auslösen</a>
            {% endif %}
        {% endif %}
        {% if c.status == STATUS.GELIEFERT %}
            {% if action != 'create' %}
                <li><a href="{% url 'box_assign' c|to_class_name c.id %}" class="li-content"><i class="material-icons">local_shipping</i>An Produktion liefern</a>
            {% endif %}
        {% endif %}
        {% if c.status >= STATUS.ERFASST and c.status <= STATUS.REKLAMATION_FREIGEGEBEN or c.status == STATUS.POSITIONSBEARBEITUNG_FERTIG %}
            <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% elif c.status == STATUS.GELIEFERT %}
            <!--<li><a href="{% url 'goods_receipt' c|to_class_name c.id%}" class="li-content"><i class="material-icons">archive</i>Wareneingang erfassen</li>-->
            <li><a href="{% url 'box_assign' c|to_class_name c.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Produktion liefern</li>
        {% endif %}
    {% elif LIEFERANTEN in group %}
            <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if c.status == STATUS.ERFASST %}
            {% if action != 'create' %}
                <li><a href="{% url 'set_status_task' c.id 36 %}" class="li-content"><i class="material-icons">done_all</i>Freigeben</a>
            {% endif %}
        {% endif %}
        {% if c.status == STATUS.REKLAMATION_FREIGEGEBEN %}
            <li><a href="{% url 'stock_check' c.id %}" class="li-content"><i class="material-icons">flag</i>Bestandsprüfung</a></li>
        {% elif c.status >= STATUS.BESTANDSPRUEFUNG_ABGESCHLOSSEN and c.status <= STATUS.VERSAND_AN_LIEFERANT %}
            <li><a href="{% url 'goods_shipping' c|to_class_name c.id%}" class="li-content"><i class="material-icons">unarchive</i> Warenentnahme</a></li>
            {% if c.status >= STATUS.VERSAND_AN_KUNDE and c.status <= STATUS.VERSAND_AN_LIEFERANT %}
                <li><a href="{% url 'box_assign' c|to_class_name c.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Kunden liefern</a></li>
            {% endif %}
        {% elif c.status == STATUS.ERFASST %}
            <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}