{% extends "forms.html" %}
{% load materializecss %}

<!-- Title-->
{% block title %}{% if company == LIEFERANTEN %}Auftragsreklamation{% else %}Bestellreklamation{% endif %} {% if action == 'create' %}erstellen{% else %} ändern{% endif %}{% endblock %}

<!-- Header-->
{% block head %}
<style>
    .help-block {
        margin:0px;
    }
</style>
{% endblock %}

<!-- Content-->
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row section">
        <div class="col s12">
            <a class="btn-flat" href="{% url 'supp_complaint' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
            <h4>{% if company == LIEFERANTEN %}Auftragsreklamation{% else %}Bestellreklamation{% endif %} {% if action == 'create' %}erstellen{% else %}ändern{% endif %}</h4>
        </div>
    {% if action == "alter" %}
        <div class="col s12">
            <h5>Kopf</h5>
        </div>
    {% endif %}

    <div class="col s12">
        <div class="card">
            <div class="card-content">

                <div class="row" style="margin-bottom: 0px;">
                    {% for field in form.visible_fields %}
                        {% if forloop.counter0|divisibleby:2 %}
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                        {% endif %}
                <div class="col s12 m12 l6" style="padding: 0">
                    {{ field|materializecss }}
                </div>
                {% endfor %}
                </div>

                {% for field in form.hidden_fields %}
                <div class="col s12 m12 l6">
                    {{ field }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
    {% if action == "alter" %}
    <div class="row section">
        <div class="col s12">
            <h5>Positionen</h5>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <table id="itemtable">
                        <thead id="itemhead">
                            <tr>
                                <th>Position</th>
                                <th> {% if company == LIEFERANTEN %}Reklamierte Artikel{% else %}Reklamierte Teile{% endif %}</th>
                                <th>Menge</th>
                                <th>Beschreibung</th>
                                <th>Abgeschlossen am</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itembody">
                            {% for i in items %}
                            <tr>
                                <td>{{i.pos}}</td>
                                <td>{{ i.supp_order_det.part }}</td>
                                <td>{{ i.quantity }}</td>
                                <td>{{ i.memo }}</td>
                                <td>{{ i.finished_on }}</td>
                                <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='i{{i.id}}'><i
                                    class="material-icons">more_vert</i></a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4"><a href="{% url 'supp_complaint_det_create' supp_complaint_no %}" style="display: inline-block; height: 100%; width: 100%; padding: 10px 0;" class="black-text"><i class="material-icons left">add</i>POSITION HINZUFÜGEN</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="row section">
        <div class="col s12 right-align">
            {% if action != 'create' %}
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">done_all</i>Freigeben</button>
            {% endif %}
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">save</i>{% if action == 'create' %}Erstellen{% else %}Speichern{% endif %}</button>
        </div>
    </div>

</form>
{% endblock %}

<!-- Body-->
{% block body %}
{% for i in items %}
<ul id='i{{i.id}}' class='dropdown-content'>
    <li><a href="{% url 'supp_complaint_det_alter' i.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
    <li><a href="{% url 'supp_complaint_det_delete' i.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% endblock %}