{% extends "base.html" %}

<!-- Title-->
{% block title %}{% if company == 'customer' %}Bestellungen{% else %}Kundenaufträge{% endif %}{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>{% if company == 'supplier' %}Auftragsreklamation{% else %}Bestellreklamation{% endif %} <a href="{% url 'supp_complaint_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a></h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th>Reklamationsnummer</th>
                            {% if company != 'supplier' %}<th>Lieferant</th>{% endif %}
                            <th>Beschreibung</th>
                            <th>Status</th>
                            <th>Abgeschlossen am</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und in ABhängigkeit des eingeloggten Benutzers anzeigen-->
                        {% for c in complaints %}
                            <tr>
                                <td>{% if company == 'supplier' %}Auftragsreklamation{% else %}Bestellreklamation{% endif %} #{{ c.id }}</td>
                                {% if company != 'supplier' %}<td>{{c.supp_order.supplier}}</td>{% endif %}
                                <td>{{ c.memo }}</td>
                                <td>{{ c.status }}</td>
                                <td>Tag #{{ c.finished_on }}</td>
                                <td><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{c.id}}'><i
                                            class="material-icons">more_vert</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for c in complaints %}
<ul id='a{{c.id}}' class='dropdown-content'>
    <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
    <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.dropdown-trigger').dropdown();
    });
</script>
{% endblock %}