{% extends "forms.html" %}
{% load materializecss %}

<!-- Title-->
{% block title %}
{% if company == LIEFERANTEN %}
    Kundenauftrag
{% else %}
    Bestellung
{% endif %} 
{% if action == 'create' %}
    erstellen
{% else %}
    {{order_no}} ändern
{% endif %}
{% endblock %}

<!-- Header-->
{% block head %}
<style>
    .help-block {
        margin:0px;
    }
</style>
{% endblock %}

<!-- Content-->
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row section">
        <div class="col s12">
            <a class="btn-flat" href="{% url 'supp_order' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>
            <h4>
                {% if company == LIEFERANTEN %}
                    Kundenauftrag
                {% else %}
                    Bestellung
                {% endif %}
                {% if action == 'create' %}
                    erstellen
                {% else %}
                    {{order_no}} ändern
                {% endif %}
            </h4>
        </div>
    {% if action == "alter" %}
        <div class="col s12">
            <h5>Kopf</h5>
        </div>
    {% endif %}

    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin-bottom: 0px;">
                    {% for field in form.visible_fields %}
                        {% if forloop.counter0|divisibleby:2 %}
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                        {% endif %}
                    <div class="col s12 m12 l6" style="padding: 0">
                        {{ field|materializecss }}
                    </div>
                    {% endfor %}
                    </div>

                    {% for field in form.hidden_fields %}
                    <div class="col s12 m12 l6">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if action == "alter" %}
    <div class="row section">
        <div class="col s12">
            <h5>Positionen</h5>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <table id="itemtable">
                        <thead id="itemhead">
                            <tr>
                                <th>Position</th>
                                <th>Artikel</th>
                                <th>Bestellmenge</th>
                                <th>Strukturmenge</th>
                                <th>Preis</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itembody">
                            {% for i in items %}
                            <tr>
                                <td>{{ i.pos }}</td>
                                <td>{{ i.part.description }}</td>
                                <td>{{ i.quantity }}</td>
                                <td>{{ i.part.pack_quantity }}</td>
                                <td>{{ i.unit_price }}</td>
                                <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='i{{i.id}}'><i
                                    class="material-icons">more_vert</i></a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6"><a href="{% url 'supp_order_det_create' supp_order_no %}" style="display: inline-block; height: 100%; width: 100%; padding: 10px 0;" class="black-text"><i class="material-icons left">add</i>POSITION HINZUFÜGEN</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="row section">
        <div class="col s12 right-align">
            {% if action != "create" %}
                {% if company == LIEFERANTEN %}
                    {% if object.status == object.Status.ERFASST %}
                        <a class="waves-effect waves-light btn" href="{% url 'set_status_task' object.pk 3 2 3 9%}"><i class="material-icons left">done_all</i>Freigeben</a>
                    {% endif %}
                    {% if object.status == object.Status.BESTANDSPRUEFUNG_AUSSTEHEND %}
                        <a class="waves-effect waves-light btn" href="{% url 'supp_order_cancel' object.pk %}"><i class="material-icons left">block</i>Stornieren</a>
                    {% endif %}
                    {% if object.status == object.Status.BESTELLT %}
                        <a class="waves-effect waves-light btn" href="{% url 'set_status_call' object.pk 3 5%}">Beliefert</a>
                    {% endif %}

                {% elif company == JOGA %}
                    {% if object.status == object.Status.ERFASST %}
                        <a class="waves-effect waves-light btn" href="{% url 'set_status_call' object.pk 3 5%}"><i class="material-icons left">done_all</i>Freigeben</a>
                    {% endif %}
                    {% if object.status == object.Status.BESTANDSPRUEFUNG_AUSSTEHEND %}
                        <a class="waves-effect waves-light btn" href="{% url 'supp_order_cancel' object.pk %}"><i class="material-icons left">block</i>Stornieren</a>
                    {% endif %}
                    {% if object.status == object.Status.BESTELLT %}
                        <a class="waves-effect waves-light btn" href="{% url 'goods_receipt' 3 object.pk %}">Wareneingang buchen</a>
                    {% endif %}
                
                {% endif %}    
            {% endif %}
            <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">save</i>{% if action == 'create' %}Erstellen{% else %}Speichern{% endif %}</button>
        </div>
    </div>
</form>
{% endblock %}

<!-- Body-->
{% block body %}
    {% for i in items %}
        <ul id='i{{i.id}}' class='dropdown-content'>
            {% if company == LIEFERANTEN %}
                <li><a href="{% url 'supp_order_det_alter' i.id %}"><i class="material-icons">create</i>Bearbeiten</a></li>
                {% comment %}
                    {% if object.status == object.Status.LIEFERUNG_AN_JOGA_AUSSTEHEND %}
                        <li><a href=""><i class="material-icons">local_shipping</i>Geliefert an Kunde</a></li>
                    {% endif %}
                {% endcomment %}
                {% if object.status == object.Status.ERFASST %}
                    <li><a href="{% url 'supp_order_det_delete' i.id %}"><i class="material-icons">delete</i>Löschen</a></li>
                {% endif %}
            {% elif company == JOGA %}
                <li><a href="{% url 'supp_order_det_alter' i.id %}"><i class="material-icons">create</i>Bearbeiten</a></li>
                {% if object.status == object.Status.ERFASST %}
                    <li><a href="{% url 'supp_order_det_delete' i.id %}"><i class="material-icons">delete</i>Löschen</a></li>
                {% endif %}
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}


<!-- Scripts-->
{% block scripts %}
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% endblock %}