{% extends "base.html" %}
{% load custom_tags %}

<!-- Title-->
{% block title %}
{% if company == LIEFERANTEN %}
    Kundenaufträge
{% else %}
    Bestellungen
{% endif %}
{% endblock %}

<!-- Header-->
{% block head %}
{% endblock %}

<!-- Content-->
{% block content %}
<h4> 
    {% if company == LIEFERANTEN %}
        Kundenaufträge
    {% else %}
        Bestellungen
    {% endif %}
    <a href="{% url 'supp_order_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a>
</h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th> 
                                {% if company == LIEFERANTEN %} 
                                    Auftragsnummer 
                                {% else %} 
                                    Bestellnummer 
                                {% endif %}
                            </th>
                                {% if company == LIEFERANTEN %}
                                <th>
                                    Referenznummer
                                </th>
                                {% endif %}
                            <th>
                                {% if company != LIEFERANTEN %}
                                    Lieferant 
                                {% endif %}
                            </th>
                            <th>Einteilungsdatum</th>
                            <th>Lieferdatum</th>
                            <th>Ersteller</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und anzeigen-->
                        {% for o in orders %}
                            <tr>
                                <td>
                                    {{ o.order_no }}
                                </td>
                                {% if company == LIEFERANTEN %}
                                <td>
                                    {{o.ref_no}}
                                </td>
                                {% endif %}
                                <td>
                                    {% if company != LIEFERANTEN %}
                                        {{o.supplier}}
                                    {% endif %}
                                </td>
                                <td>Tag {{ o.issued_on|default_if_none:"-" }}</td>
                                <td>Tag {{ o.delivery_date|default_if_none:"-" }}</td>
                                <td>{{ o.get_creation_user }}</td>
                                <td>
                                    <div class="progress{% if not o|group_has_work:request.user %} progress-grey{% endif %}">
                                        <div class="determinate" style="width: {{ o.get_status_progress }}"></div>
                                    </div>
                                    {{ o.get_status_display }} 
                                </td>
                                {% if LIEFERANTEN in group or PRODUKTIONSDIENSTLEISTUNG in group %}
                                    <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{o.id}}'><i class="material-icons">more_vert</i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <input type="hidden" name="previous" value="{{ request.META.HTTP_REFERER }}">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for o in orders %}
<ul id='a{{o.id}}' class='dropdown-content'>
    {% if LIEFERANTEN in group %}
        <li><a href="{% url 'supp_order_alter' o.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if o.status == STATUS.ERFASST %}
            <li><a href="{% url 'set_status_task' o.id 9%}" class="li-content"><i class="material-icons">done_all</i>Freigeben</a></li>
        {% endif %}
        {% if o.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_order_delete' o.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
        {% if o.status == STATUS.BESTANDSPRUEFUNG_AUSSTEHEND %}
            <li><a href="{% url 'stock_check' o.id %}" class="li-content"><i class="material-icons">flag</i>Bestandsprüfung</a></li>
            <li><a href="{% url 'supp_order_cancel' o.id %}" class="li-content"><i class="material-icons">block</i>Stornieren</a></li>
        {% endif %}
        {% if o.status == STATUS.LIEFERUNG_AN_JOGA_AUSSTEHEND %}
            <li><a href="{% url 'box_assign' o|to_class_name o.id%}" class="li-content"><i class="material-icons">local_shipping</i>Kunde beliefern</a></li>
        {% endif %}
        {% if o.status == STATUS.BESTELLT %}
            <li><a href="{% url 'set_status_call' o|to_class_name o.id 5%}" class="li-content"><i class="material-icons">done</i>Beliefert</a></li>
        {% endif %} 
    {% endif %}

    {% if PRODUKTIONSDIENSTLEISTUNG in group %}
        <li><a href="{% url 'supp_order_alter' o.id %}" class="li-content"><i class="material-icons">create</i>Öffnen</a></li>
        {% if o.status == o.Status.ERFASST %}
            <li><a href="{% url 'set_status_call' o|to_class_name o.id o.Status.BESTELLT %}" class="li-content"><i class="material-icons">done_all</i>Freigeben</a></li>
        {% endif %}
        {% if o.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_order_delete' o.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
        {% if o.status == o.Status.BESTANDSPRUEFUNG_AUSSTEHEND %}
            <li><a href="{% url 'supp_order_cancel' o.id %}" class="li-content"><i class="material-icons">block</i>Stornieren</a></li>
        {% endif %}
        {% if o.status >= STATUS.BESTELLT and o.status <= STATUS.TEILGELIEFERT %}
            <li><a href="{% url 'goods_receipt' o|to_class_name o.id%}" class="li-content"><i class="material-icons">archive</i>Wareneingang buchen</a></li>
        {% endif %}
        {% if o.status >= STATUS.TEILGELIEFERT and o.status < STATUS.GELIEFERT %}
            <li><a href="{% url 'set_status_call' o|to_class_name o.id o.Status.GELIEFERT %}" class="li-content"><i class="material-icons">done_all</i>Voll beliefert</a></li>
        {% endif %}
    {% endif %}   
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}