{% extends "base.html" %}
{% load custom_tags %}
<!-- Title-->
{% block title %}{% if company == KUNDEN %}Bestellungen{% else %}Kundenaufträge{% endif %}{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<h4>{% if company == LIEFERANTEN %}Auftragsreklamation{% else %}Bestellreklamation{% endif %} <a href="{% url 'supp_complaint_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a></h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th>Reklamationsnummer</th>
                            {% if company != LIEFERANTEN %}<th>Lieferant</th>{% endif %}
                            <th>Beschreibung</th>
                            <th>Status</th>
                            <th>Abgeschlossen am</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und in ABhängigkeit des eingeloggten Benutzers anzeigen-->
                        {% for c in complaints %}
                            <tr>
                                <td>{{ c.order_no }}</td>
                                {% if company != LIEFERANTEN %}<td>{{c.supp_order.supplier}}</td>{% endif %}
                                <td>{{ c.memo }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="determinate" style="width: {{ c.status|multiply:100|divide:status_count }}%"></div>
                                    </div>
                                    {{ c.get_status_display }} 
                                </td>
                                <td>Tag {{ c.finished_on|default_if_none:"-" }}</td>
                                <td><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{c.id}}'><i
                                            class="material-icons">more_vert</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for c in complaints %}
<ul id='a{{c.id}}' class='dropdown-content'>
    {% if PRODUKTION in group %}
        {% if c.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
            <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% endif %}
    {% elif PRODUKTIONSDIENSTLEISTUNG in group %}
        {% if c.status <= STATUS.WEITERLEITUNG_AN_PDL %}
            <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
            <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% elif c.status == STATUS.REKLAMIERT %}
            <li><a href="{% url 'goods_receipt' c|to_class_name c.id%}" class="li-content"><i class="material-icons">archive</i>Wareneingang erfassen</li>
        {% endif %}
    {% elif LIEFERANT in group %}
        {% if c.status <= STATUS.ERFASST %}
            <li><a href="{% url 'supp_complaint_alter' c.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
            <li><a href="{% url 'supp_complaint_delete' c.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
        {% elif c.status == STATUS.BESTANDSPRUEFUNG_AUSSTEHEND %}
            <li><a href="{% url 'goods_shipping' c|to_class_name c.id%}" class="li-content"><i class="material-icons">unarchive</i> Warenentnahme</a></li>
            <li><a href="{% url 'box_assign' c|to_class_name c.id%}" class="li-content"><i class="material-icons">local_shipping</i>An Kunden liefern</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}