{% extends "base.html" %}
{% load custom_tags %}

<!-- Title-->
{% block title %}{% if company == LIEFERANTEN %}Kundenaufträge{% else %}Bestellungen{% endif %}{% endblock %}

<!-- Header-->
{% block head %}
{% endblock %}

<!-- Content-->
{% block content %}
<h4> {% if company == LIEFERANTEN %}Kundenaufträge{% else %}Bestellungen{% endif %} <a href="{% url 'supp_order_create' %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a></h4>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                        <tr>
                            <th> {% if company == LIEFERANTEN %} Auftragsnummer {% else %} Bestellnummer {% endif %}</th>
                            {% if company != LIEFERANTEN %}<th>Lieferant</th> {% endif %}
                            <th>Einteilungsdatum</th>
                            <th>Lieferdatum</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="itembody">
                        <!-- Alle orders durchlaufen und anzeigen-->
                        {% for o in orders %}
                            <tr>
                                <td>{% if company == LIEFERANTEN %} Auftrag {% else %} Bestellung {% endif %} #{{ o.id }}</td>
                                {% if company != LIEFERANTEN %}<td>{{o.supplier}}</td>{% endif %}
                                <td>Tag #{{ o.issued_on }}</td>
                                <td>Tag #{{ o.delivery_date }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="determinate" style="width: {{ o.status|multiply:100|divide:status_count }}%"></div>
                                    </div>
                                    {{ o.get_status_display }} 
                                </td>
                                <td class="right"><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{o.id}}'><i class="material-icons">more_vert</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for o in orders %}
<ul id='a{{o.id}}' class='dropdown-content'>
    <li><a href="{% url 'supp_order_alter' o.id %}" class="li-content"><i class="material-icons">create</i>Bearbeiten</a></li>
    <li><a href="{% url 'supp_order_delete' o.id %}" class="li-content"><i class="material-icons">delete</i>Löschen</a></li>
    {% if company == JOGA %} 
        <li><a href="{% url 'goods_receipt' o|to_class_name o.id%}" class="li-content"><i class="material-icons">archive</i>Wareneingang erfassen
    {% endif %}
    <li><a href="{% url 'goods_shipping' o|to_class_name o.id%}" class="li-content"><i class="material-icons">local_shipping</i>
    {% if company == LIEFERANTEN %} 
        An JOGA liefern
    {% else %}
        An Produktion liefern
    {% endif %}</a></li>
    </ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}