{% extends "base.html" %}

<!-- Title-->
{% block title %}Aufgaben - Details{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<p>   </p>
<a class="btn-flat" onclick="history.back();" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>

<h4>{{object.task_type.title}}</h4>
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <b>Referenz</b>
                <p>
                    {{ object.get_ref }}
                </p>
                <b>Beschreibung</b>
                <p>
                    {{object.task_type.description}}
                </p>
                
                <b>Zugewiesen an</b>
                <p>
                    {% if object.user_id is null %}
                        Nicht zugeordnet
                    {% else %}
                        {{object.user.username}}
                    {% endif %}
                </p>
                <b>Aufgabe der Gruppe</b>
                <p>
                    {{object.task_type.group}}
                </p>
                <b>Abgeschlossen am</b>
                <p>
                    {{ object.task.finished_on|default:'-' }}
                </p>
                {% if object.user_id == request.user %}
                    <a href="{% url 'tasks_edit' object.pk %}" class="btn waves-effect waves-light"><i class="material-icons left">build</i>Bearbeiten</a>
                    {% if object.finished_on is null %}
                        <a href="{% url 'tasks_finish' object.pk %}" class="btn waves-effect waves-light"><i class="material-icons left">done</i>Fertig</a> 
                    {% endif %}
                    <a href="{% url 'tasks_share' object.pk %}" class="btn waves-effect waves-light"><i class="material-icons left">api</i>Zuweisung entfernen</a>
                {% else %}
                    <a href="{% url 'tasks_assign' object.pk %}" class="btn waves-effect waves-light"><i class="material-icons left">launch</i>Mir zuweisen</a></li>
                {% endif %} 
                    
                <a href="{% url 'faq' content=0  %}" class="btn waves-effect waves-light"><i class="material-icons left">help</i>FAQ</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}

{% endblock %}