{% extends "tables.html" %}

<!-- Title-->
{% block title %}{{Headline}}{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<p>   </p>
<a class="btn-flat" href="{% url 'tasks' %}" style="margin-left: -16px;"><i class="material-icons left">arrow_back</i>Zurück</a>

<h4>{{Headline}}</h4>

<div class="col s12"></div>
    <div class="card">
        <div class="card-content">
            <p> <div class="table-scrollable">
                <table id="itemtable">
                    <thead id="itemhead">
                    <tr>
                        <th>ID</th>
                        <th>Aufgabenname</th>
                        <th>Aufgabenbeschreibung</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="itembody"></tbody>
                    {% for task in tasks %}
                    <tr id="newposition">
                        <td>{{task.id}}</td>
                        <td>{{task.task_type.title}}</td>
                        <td>{{task.task_type.description}}</td>
                        <td><a class='dropdown-trigger btn-floating btn waves-effect waves-light' data-target='a{{task.id}}'><i class="material-icons">more_vert</i></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div></p>
        </div>
    </div>
{% endblock %}

<!-- Body-->
{% block body %}
{% for task in tasks %}
<ul id='a{{task.id}}' class='dropdown-content'>
    {% if assigned %}
    <li><a href="{% url 'tasks_share' task.pk %}"><i class="material-icons">api</i>Aufgabe freigeben</a></li>
    <li><a href="{% url 'tasks_edit' task.pk %}"><i class="material-icons">build</i>Bearbeiten</a></li>
    <li><a href="{% url 'tasks_finish' task.pk %}"><i class="material-icons">done</i>Fertig</a></li>   
    {%endif%}
    {% if notassigned %}
    <li><a href="{% url 'tasks_assign' task.pk %}"><i class="material-icons">launch</i>Mir zuweisen</a></li>
    {%endif%}
    <li><a href="{% url 'tasks_detail' task.pk %}"><i class="material-icons">subject</i>Details</a></li>
</ul>
{% endfor %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.dropdown-trigger').dropdown();
    });
</script>
{% endblock %}