{% extends "base.html" %}
{% load static %}

<!-- Title-->
{% block title %}Workflows{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
<H4>Workflows</H4>
{% for item in workflows %}
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h5>{{item.Title}}</h5>
            <img class="materialboxed" style="margin:auto;" width="100%" src="{%static item.Path %}">
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>
{% endblock %}