/gtserver/db.sqlite3
/gtserver/gtapp/__pycache__
/gtserver/gtserver/__pycache__
/gtserver/gtapp/__pycache__
/gtserver/gtapp/constants/__pycache__
/gtserver/gtapp/migrations/__pycache__
/gtserver/gtapp/models/__pycache__
/gtserver/gtapp/migrations/0001_initial.py
/.vscode/

gtserver/db.sqlite3-journal
