nav .brand-logo {
  position: relative;
  margin-left: 16px;
}

.dropdown-content li>* {
    display: flex;
    align-items: center;
}

.li-content {
  min-width: 200px !important;
}

    /* optional */
.dropdown-content a> i {
    margin-right: 16px;
}

.table-scrollable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

main.loggedin {
  padding-left: 300px;
}
.navbar-fixed {
  z-index: 9999;
}

@media only screen and (max-width : 992px) {
  main.loggedin {
    padding-left: 0;
  }
  .sidenav {
    z-index: 40000;
  }
}

.formnopadding div.input-field {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.backgroundVideo {
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

@keyframes bell {
  0% { transform: rotate(-15deg) }
  50% { transform: rotate(15deg) }
  100% { transform: rotate(-15deg) }
}

.notification { 
  animation-name: bell; 
  animation-duration: 0.625s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease; 
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes hover {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(7%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-7%);
  }
  100% {
    transform: translateY(0%);
  }
}

.messageicon { 
  animation-name: hover; 
  animation-duration: 2.5s; 
  animation-iteration-count: infinite; 
  animation-timing-function: linear; 
  position: relative;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.progress-grey {
		min-height: 10px;
		overflow: hidden;
		position: relative;
		background-color: #c7c7c7 !important;
}

.progress-grey .determinate {
  width: 0;
  padding: 10px;
  position: relative;
  background-color: #616161 !important;
  text-align: right;
  white-space: nowrap;
}

.progress {
  min-height: 10px;
  overflow: hidden;
  position: relative;
}

.progress .determinate {
  width: 0;
  padding: 10px;
  position: relative;
  text-align: right;
  white-space: nowrap;
}

@keyframes grow {
  from {
    width: 0;
}
}

canvas {
display: block;
width: 100%;
visibility: hidden;
}

.svginside {
position:relative;
margin-left:auto; margin-right: auto;
}

.svginside svg {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

.imageAnimation {
    position:absolute;
    left: 100%;
    top: 400px;
    -webkit-animation: moveToLeft 40s linear infinite;
    animation: moveToLeft 40s linear infinite;
}

@-webkit-keyframes moveToLeft {
    from {left: 100%;}
    to {left: -15%;}
}

@keyframes moveToLeft {
    from {left: 100%;}
    to {left: -15%;}
}

tr.unread td {
  font-weight: bold;
}

.collapsible-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
