nav .brand-logo {
  position: relative;
  margin-left: 16px;
}

.dropdown-content li>* {
    display: flex;
    align-items: center;
}

.li-content {
  min-width: 200px !important;
}

    /* optional */
.dropdown-content a> i {
    margin-right: 16px;
}

.table-scrollable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

main.loggedin {
  padding-left: 300px;
}
.navbar-fixed {
  z-index: 9999;
}

@media only screen and (max-width : 992px) {
  main.loggedin {
    padding-left: 0;
  }
  .sidenav {
    z-index: 40000;
  }
}

.formnopadding div.input-field {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.backgroundVideo {
  left: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

@keyframes bell {
  10% { transform: rotate(7deg) }
  30% { transform: rotate(-15deg) }
  50% { transform: rotate(15deg) }
  70% { transform: rotate(-15deg) }
  90% { transform: rotate(7deg) }
}

.notification {
  animation-name: bell;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}