nav .brand-logo {
    position: relative;
  }
  
  .dropdown-content li>* {
      display: flex;
      align-items: center;
  }

  .dropdown-content {
      width: auto !important;
  }

      /* optional */
  .dropdown-content a> i {
      margin-right: 16px;
  }

  .table-scrollable {
      width: 100%;
      overflow-y: auto;
      margin: 0 0 1em;
  }

  .table-scrollable::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
  }

  .table-scrollable::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 3px solid #fff;
      background-color: rgba(0, 0, 0, .3);
  }
  
  main, nav {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    main, nav {
      padding-left: 0;
    }
  }