{% extends "base.html" %}
{% load materializecss %}
{% load custom_tags %}

<!-- Title-->
{% block title %}Benutzer wechseln{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
    <div class="row">
        <div class="s12">
            <h4>Benutzer wechseln</h4>
            {% if not debug_flag %}<h5 class="red-text">Der Benutzer kann nur bei gesetztem Debug Flag gewechselt werden.</h5>{% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 m8 l6 xl4">
            <ul class="collection">
            {% for user_login in users %}
                <li class="collection-item avatar"><div>
                    {% if user_login.id == user.id %}
                        <i class="material-icons circle {% if user_login|has_group:JOGA %}light-blue{% elif user_login|has_group:KUNDEN %}red{% elif user_login|has_group:LIEFERANTEN %}green{% else %}grey{% endif %}">how_to_reg</i>
                        <span class="title">{{ user_login.username }}</span>
                        <p class="grey-text">
                            {% for group in user_login.groups.all %}
                                {{ group.name }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                keine Gruppen zugewiesen
                            {% endfor %}
                        </p>
                        
                    {% else %}
                        <i class="material-icons circle {% if user_login|has_group:JOGA %}light-blue{% elif user_login|has_group:KUNDEN %}red{% elif user_login|has_group:LIEFERANTEN %}green{% else %}grey{% endif %}">person</i>
                        <span class="title">{{ user_login.username }}</span>
                        <p class="grey-text">
                            {% for group in user_login.groups.all %}
                                {{ group.name }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                keine Gruppen zugewiesen
                            {% endfor %}
                        </p>
                        {% if debug_flag %}
                            <a href="{% url 'change_user_to' user_login.id %}" class="secondary-content"><i class="material-icons text-darken-1 {% if user_login|has_group:JOGA %}light-blue-text{% elif user_login|has_group:KUNDEN %}red-text{% elif user_login|has_group:LIEFERANTEN %}green-text{% else %}grey-text{% endif %}" style="font-size: 3rem">login</i></a>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}
{% endblock %}