{% extends "base.html" %}
{% load materializecss %}

<!-- Title-->
{% block title %}Benutzer wechseln{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
    <div class="row">
        <div class="s12">
            <h3>Benutzer wechseln</h3>
            {% if not debug_flag %}<h5 class="red-text">Der Benutzer kann nur bei gesetztem Debug Flag gewechselt werden.</h5>{% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 m8 l6 xl4">
            <ul class="collection">
            {% for user_login in users %}
                <li class="collection-item avatar"><div>
                    {% if user_login.id == user.id %}
                        <i class="material-icons circle green">how_to_reg</i>
                        <span class="title">{{ user_login.username }}</span>
                        <p>
                            {% for group in user_login.groups.all %}
                                <span class="tooltip" data-position="left" data-tooltip="<i class='material-icons tiny left'>build</i>{{ group.name }}">{{ group.name }}</span>
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                keine Gruppen zugewiesen
                            {% endfor %}
                        </p>
                        
                    {% else %}
                        <i class="material-icons circle">person</i>
                        <span class="title">{{ user_login.username }}</span>
                        <p>
                            {% for group in user_login.groups.all %}
                                <span class="tooltip" data-position="left" data-tooltip="<i class='material-icons tiny left'>build</i>{{ group.name }}">{{ group.name }}</span>
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                keine Gruppen zugewiesen
                            {% endfor %}
                        </p>
                        {% if debug_flag %}
                            <a href="{% url 'change_user_to' user_login.id %}" class="secondary-content"><i class="material-icons small">login</i></a>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.tooltip').tooltip();
    });
</script>
{% endblock %}