{% extends "base.html" %}
{% load materializecss %}

<!-- Title-->
{% block title %}Willkommen!{% endblock %}

<!-- Header-->
{% block head %}

{% endblock %}

<!-- Content-->
{% block content %}
    <div class="section">
        <h4>Login</h4>
        <br />
        <form method="post">
            {% csrf_token %}
            {{ form|materializecss }}
            <br />
            <button class="btn" type="submit"><i class="material-icons left">login</i>Einloggen</button>
        </form>
    </div>
{% endblock %}

<!-- Body-->
{% block body %}

{% endblock %}

<!-- Scripts-->
{% block scripts %}

{% endblock %}