{% extends "base.html" %}
{% load materializecss %}
{% load static %}

<!-- Title-->
{% block title %}Willkommen!{% endblock %}

<!-- Header-->
{% block head %}
<style>
    html {
        background: url('{% static 'img/logistics-1080px.jpg' %}') no-repeat center fixed;
        background-size: cover;
        background-color: #cccccc;
        height: 100%;
        
    }
</style>
{% endblock %}


<!-- Content-->
{% block overwritebody %}
<div class="container" >
    <div class="row">
        <div class="col s0 m2 l3 xl4">
        </div>
        <div class="col s12 m8 l6 xl4 card">
            
                <div class="card-content">
                    <span class="card-title center-align">Login</span>
                    <form method="post" class="formnopadding">
                        {% csrf_token %}
                        {{ form|materializecss }}
                        <br/>
                        <div class="col s12 center-align" style="height: 4em;">
                            <button class="btn" type="submit"><i class="material-icons left">login</i>Einloggen</button>
                        </div>
                        
                    </form>
                </div>
        </div>
        <div class="col s0 m2 l3 xl4">
        </div>
    </div>
</div>
            
{% endblock %}

<!-- Body-->
{% block body %}
    {% if user.is_authenticated %}
    <!-- Modal Berechtigung fehlt -->
    <div id="modal_permission" class="modal">
        <div class="modal-content">
        <i class='material-icons red-text large'>block</i>
        <h4>Berechtigung fehlt</h4>
        <p>
            Wenn Sie automatisch auf diese Seite weitergeleitet wurden, fehlt Ihrem Benutzer '{{ user.username }}' vermutlich eine Berechtigung.
            <br />
            <ul class="browser-default">
                <li>Um es erneut zu versuchen, klicken Sie auf <a href="#" onclick="history.back();">zurück</a>.</li>
                <li>Alternativ können Sie auf der <a href="{% url 'home' %}">Startseite</a> beginnen.</li>
                <li>Wenn Ihnen ein Benutzerzugang mit weiterreichenden Berechtigungen zur Verfügung steht, können Sie die Meldung <a href="#" class="modal-close">schließen</a> und sich anmelden.</li>
            </ul>
            <br />
            Sollten Sie diese Seite über die Browserverlauf aufgerufen haben, können Sie diese Meldung ignorieren.
        </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect btn-flat">Schließen</a>
            <a href="{% url 'home' %}" class="waves-effect btn-flat">Startseite</a>
            <a href="#" onclick="history.back();" class="waves-effect btn">Zurück</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

<!-- Scripts-->
{% block scripts %}
    {% if user.is_authenticated %}
    <script>
        M.Modal.init($('.modal')[0], {});
        M.Modal.getInstance($('.modal')[0]).open();
    </script>
    {% endif %}
{% endblock %}